<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <title>State to the Show</title>
</head>  
    
<body>

    <div id="header">
        <div id="title-bar">State to the Show</div>
        <div class="tab-bar">
            <a class="tab-link">
                <button class="tab-button selected">GAMES</button>
            </a>
            <a class="tab-link" href="players">
                <button class="tab-button">PLAYERS</button>
            </a>
        </div>
    </div>
    
    <div id="content">
        <div class="schedule-header">Recent games:</div>
        <div class="schedule">

            {{ range .GameStore.LastDays }}
            <div class="schedule-day">
                <div class="day-header">{{.PrettyDate}}</div>
                <div class="day-content">

                    {{ range .Games }}
                    <div class="game">
                        <div class="game-left">
                            <div class="team-row">
                                <div class="team-name">{{.Teams.Home.Team.Name}}</div>
                                <div class="team-score">{{.Teams.Home.Score}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Home.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                            <div class="team-row">
                                <div class="team-name">@ {{.Teams.Away.Team.Name}}</div>
                                <div class="team-score">{{.Teams.Away.Score}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Away.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}

                </div>
            </div>
            {{ end }}

        </div>

        <div class="schedule-header">Upcoming games:</div>
        <div class="schedule">

            {{ range .GameStore.NextDays }}
            <div class="schedule-day">
                <div class="day-header">{{.PrettyDate}}</div>
                <div class="day-content">

                    {{ range .Games }}
                    <div class="game">
                        <div class="game-left">
                            <div class="team-row">
                                <div class="team-name">{{.Teams.Home.Team.Name}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Home.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                            <div class="team-row">
                                <div class="team-name">@ {{.Teams.Away.Team.Name}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Away.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                        </div>
                        <div class="game-right">{{ .PrettyGameDate }}</div>
                    </div>
                    {{ end }}

                </div>
            </div>
            {{ end }}

        </div>
    </div>
    
</body>
</html>