<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <title>State to the Show</title>
</head>  
    
<body>

    <div id="header">
        <div id="title-bar">State to the Show</div>
        <div id="player-title-bar">
            <a href="./">
            <div id="player-title-back"></div>
            </a>
            <div id="player-title-name">{{.PlayerData.MlbData.FullName}}</div>
        </div>
    </div>
    
    <div id="content">
        <div id="mlb-header">Tap game to open on <a href="https://www.mlb.com" id="mlb-link">mlb.com</a></div>
        <div class="schedule-header">Recent games:</div>
        <div class="schedule">

            <div class="schedule-day">
                <div class="day-header"></div>
                <div class="day-content">


                    {{ range .TeamData.LastGames }}
                    <a href="https://www.mlb.com/gameday/{{.GamePk}}" class="game">
                        <div class="game-left">
                            <div class="team-row">
                                <div class="team-name">{{.Teams.Away.Team.Name}}</div>
                                <div class="team-score">{{.Teams.Away.Score}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Away.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                            <div class="team-row">
                                <div class="team-name">@ {{.Teams.Home.Team.Name}}</div>
                                <div class="team-score">{{.Teams.Home.Score}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Home.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                        </div>
                    </a>
                    {{ end }}

                </div>
            </div>


        </div>

        <div class="schedule-header">Upcoming games:</div>
        <div class="schedule">

            <div class="schedule-day">
                <div class="day-header"></div>
                <div class="day-content">


                    {{ range .TeamData.NextGames }}
                    <a href="https://www.mlb.com/gameday/{{.GamePk}}" class="game">
                        <div class="game-left">
                            <div class="team-row">
                                <div class="team-name">{{.Teams.Away.Team.Name}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Away.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                            <div class="team-row">
                                <div class="team-name">@ {{.Teams.Home.Team.Name}}</div>
                            </div>
                            <div class="bulldog-row">
                                {{ range .Teams.Home.Team.Bulldogs }}
                                <div class="bulldog-name">{{ .InitLastName }}</div>
                                {{ end }}
                            </div>
                        </div>
                        <div class="game-right">
                            {{ .PrettyGameDate }}<br />
                            {{ .PrettyGameTime }}
                        </div>
                    </a>
                    {{ end }}

                </div>
            </div>


        </div>
    </div>
    
</body>
</html>